<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Ceci est un exercice, je répête !</title>
        <script>
            function vote(node) {
                var v = node.id.split(/_/); 
                var item = v[1]; 
                var ups = document.getElementById('ups_' + item);
                var newscore = parseInt(ups.innerHTML) + 1;
                score.innerHTML = newscore + (newscore == 1 ? ' up' : ' ups');
                document.getElementById('up_'   + item).style.visibility = 'hidden';
                // var ping = new Image(); POUR PAS QUE ÇA NE COLLAPSE
                // ping.src = node.href;
                return false; 
                } 
        </script>
    </head>
    <body>
        <div id="global">
            <div id="header">
                <a href="/"><h1>Hacker News Francophone</h1></a>
            </div>
            <div id="content">
                <div class="blocLink">
                    <div class="leftSide">
                        <div>
                            <a id=up_{{ post.id }} onclick="return vote(this)" href="vote?by={{ user.nickname }}&for={{ post.id }}"><img src="img/uparrow.gif" alt="up arrow" border=0 vspace=3 hspace=2></a>
                            <p class="score"><span id=ups_{{ post.id }}>ups: {{post.ups}}</span></p>
                        </div>
                    </div>
                    <div class="rightSide">
                        <p class="link"><a href="{{post.url}}">{{ post.content|escape }}</a> ({{post.site}})
                        <div class="infos">
                            <p class="auteur"><b>{{ post.author.nickname }}</b>, </p>
                            <p class="date">{% if post.hours %}{{post.hours}} hours ago{% else %}{{post.minutes}} minutes ago{% endif %}</p>
                        </div><div class="clear"></div>
                    </div>
                    <div class="blocCommentaires">
                    {% for comment in comments %}
                        <div class"commentaire">
                            <p class="com">{{ comment.content }}</p>
                            <p class="auteur"><a id=up_{{ comment.id }} onclick="return vote(this)" href="vote?by={{ user.nickname }}&for={{ comment.id }}"><img src="img/uparrow.gif" alt="up arrow" border=0 vspace=3 hspace=2></a> <b>{{ comment.author.nickname }}</b>, {% if comment.hours %}{{comment.hours}} hours ago{% else %}{{comment.minutes}} minutes ago{% endif %} | ups: {{comment.ups}}</p>
                        </div>
                    {% endfor %}
                    {% if url %}
                    <a href="{{url}}">{{ url_linktext }}</a>
                    {% else %}
                    <form action="/comment" method="post">
                        <p>Ajouter un commentaire</p>
                        <textarea name="content" rows="3" cols="50"></textarea>
                        <input type="hidden" name="pid" value="{{ post.key.id }}" />
                        <div><input type="submit" value="Add a comment" /></div>
                    </form>
                    {% endif %}
                    </div>
                </div>
            </div>
    </body>
</html>

